apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mediawiki.fullname" . }}-db
  labels:
    app.kubernetes.io/name: {{ include "mediawiki.name" . }}
    helm.sh/chart: {{ include "mediawiki.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: Helm
type: Opaque
stringData:
  MEDIAWIKI_DB_USER: {{ .Values.database.user | default "mediawiki" | quote }}
  MEDIAWIKI_DB_PASSWORD: {{ .Values.database.password | default "changeme" | quote }}
  MEDIAWIKI_DB_NAME: {{ .Values.database.name | quote }}
  MEDIAWIKI_DB_HOST: {{ .Values.database.host | quote }}
  MEDIAWIKI_DB_PORT: "{{ .Values.database.port }}"
  MEDIAWIKI_SECRET_KEY: {{ .Values.database.secretKey | default "changeme" | quote }}
