apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mediawiki.componentName" (list . "db-credentials") }}
  labels:
{{ include "mediawiki.labels" . | indent 4 }}
type: Opaque
stringData:
  MEDIAWIKI_DB_USER: {{ .Values.secrets.mediawiki.dbUser | quote }}
  MEDIAWIKI_DB_PASSWORD: {{ .Values.secrets.mediawiki.dbPassword | quote }}
  MEDIAWIKI_DB_NAME: {{ .Values.secrets.mediawiki.dbName | quote }}
  MEDIAWIKI_SECRET_KEY: {{ .Values.secrets.mediawiki.secretKey | quote }}
